autopep8==2.3.2
certifi==2025.4.26
charset-normalizer==3.4.2
colorclass==2.2.2
docopt==0.6.2
idna==3.10
importlib-metadata==8.7.0
Jinja2==3.1.6
Markdown==3.8
MarkupSafe==3.0.2
packaging==25.0
pip-upgrader==1.4.15
py-gfm==2.0.0
pycodestyle==2.13.0
pytz==2022.7.1
requests==2.32.3
terminaltables==3.1.10
tomli==2.2.1
urllib3==2.4.0
zipp==3.22.0
