body {
  font: 18px "Yu Gothic Medium", "YuGothic Medium", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 500;
  color: #111111;
  line-height: 1.8em;
  margin: 0;
  padding: 0;
  background-color: #e0e0e0;
}
.wrapper {
  width: 920px;
}
header, footer {
  width: 270px;
  max-width: 100%;
  z-index: -1;
  padding: 24px 4px;
  margin: 8px 0;
  padding: 16px 4px;
}
footer {
  line-height: 1.5em;
}
section {
  width: 620px;
  max-width: 100%;
  background-color: #f0f0f0;
  margin: 8px 0;
  padding: 16px 8px;
  word-break: break-all;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  padding: 4px 8px;
  background-color: #e0e0e0;
}
