<h1>{{ title }}</h1>
{% if tag_cloud|length > 0 %}
<ul id="tag-cloud">
{% for tag in tag_cloud %}<li id="tag-{{ tag['name'] }}"><a href="/{{ cat }}/?tag={{ tag['name'] }}" class="tag-{{ tag['size'] }}">{{ tag['name'] }}</a></li>{% endfor -%}
</ul>
<p id="tag-ALL"><a href="/{{ cat }}/">フィルタ解除</a></p>
{% endif %}
<ul id="toc">
{%- for page in pages %}
<li>{% if page['updated_at'] %}{{ page['updated_at'] }}{% else %}unknown{% endif %} <a href="/{{ page['path'] }}" title="{{ ' '.join(page['tags']) }}">{{ page['title'] }}</a></li>
{%- endfor %}
</ul>
